{%  extends 'base.html.twig' %}
{% block javascripts %}
    <meta charset="utf-8" />
    <script type='text/javascript'>
        var map;

        function GetMap() {
            map = new Microsoft.Maps.Map('#myMap', {});

            Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () {
                var manager = new Microsoft.Maps.AutosuggestManager({ map: map });
                manager.attachAutosuggest('.searchBox', '#searchBoxContainer', selectedSuggestion);
            });
        }

        function selectedSuggestion(result) {
            //Remove previously selected suggestions from the map.
            map.entities.clear();

            //Show the suggestion as a pushpin and center map over it.
            var pin = new Microsoft.Maps.Pushpin(result.location);
            map.entities.push(pin);
            map.setView({ bounds: result.bestView });
        }

    </script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Arew96jBgkLtZofYIO503lTVv15wSq6VoFyI0WYbuXYk0TNQNoTM3tycYcW5FwEL' async defer></script>
{% endblock %}
{% block body %}
    <div id="myMap" class="ma" style="position:relative;width:100%;height:200px;"></div>
    <div class="add-photo-page">

        <div class="modal-bodyy">
            {{ form_start(f1,{'attr': {'novalidate': 'novalidate'}} )}}
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Titre</label>
                <div class="col-sm-10">
                    {{ form_widget(f1.titre, { 'attr': {'class': 'form-control','value': ''} }) }}
                    {{ form_errors(f1.titre)  }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword"  class="col-sm-2 col-form-label">Theme</label>
                <div class="col-sm-10">
                    {{ form_widget(f1.theme, { 'attr': {'class': 'form-control','value': ''} }) }}
                    {{ form_errors(f1.theme)  }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Localisation</label>
                <div class="col-sm-10" id='searchBoxContainer'>
{{ form_widget(f1.localisation, { 'attr': {'class': 'searchBox','onkeypress': 'myFunction()'} }) }}

                    {{ form_errors(f1.localisation)  }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Couleur</label>
                <div class="col-sm-10">
                    {{ form_widget(f1.couleur, { 'attr': {'class': 'form-control form-control-color','value': ''}}) }}

                    {{ form_errors(f1.couleur)  }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Photo</label>
                <div class="col-sm-10">
                    {{ form_widget(f1.url, { 'attr': {'class': 'form-control','value': ''} }) }}
                    {{ form_errors(f1.url) }}
                </div>
            </div> <div class="modal-footer">


                {{ form_widget(f1.submit) }}
            </div>
            {{ form_end(f1)}}
        </div>



        <div class="pictures">
            {% for f in tab %}

                <div class="card" style="width: 18rem;">
                    <img src="{{ asset(f.url)}}" class="card-img-top" alt="..." >
                    <div class="card-body"  style="width: 18rem;">
                        <h5 class="card-title">{{ f.titre }}</h5>
                        <a href={{ path('ShowPic',{'id':f.idPhoto}) }} class=" btn btn-primary" >Affichier Photo</a>

                    </div>
                </div>

            {% endfor %}
        </div>

    </div>

    <script>
        function myFunction() {
            document.getElementById('myMap').className = "myclass";
        }

    </script>


    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
{% endblock %}

