{%  extends 'base.html.twig' %}
{% block NavBar %}    {{ parent() }}{% endblock %}
 {% block body %}





<div class="Modif-body">
    <div><img src="{{ asset(pic.url)}}" class="card-img-top" alt="..." ></div>

    <div class="modif-from">
        <div class="modal-body">
        {{ form_start(f1,{'attr': {'novalidate': 'novalidate'}} )}}

        <div class="modal-footer">

            <a href={{ path('recherche_nsc') }} class=" btn btn-secondary" >Annuler</a>
            {{ form_widget(f1.Modifier)}}
            <a href={{ path('DeletePic',{'id':pic.idPhoto}) }} class=" btn btn-danger" >Supprimer</a></div>
        {{ form_end(f1) }}
        </div>
    </div>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
</div>
 {% endblock %}
